h1{
    size: 28px;
}

.header{
    font-style: italic;
}
.content{
    font-size: 24px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

section{
    margin-left: 20px;
}